<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>!MAGIX</key>
	<string>yYjGr3l39l0XMDWHgvtwKTfeMC0CFQCAyYjGr3l39l0XMDWHgvtwKTfengIUSvgbdEVvrwKTfeMCwIdm0k+E1SAAZaTAso=</string>
	<key>License Accepted</key>
	<false/>
	<key>Sampling</key>
	<real>2</real>
	<key>TopWindow Visible</key>
	<true/>
	<key>TopWindow Opens on Dock Click</key>
	<false/>
	<key>ShowTemperatureInCelcius</key>
	<true/>
	<key>Lookup App Info</key>
	<false/>
	<key>MinSystemVersionRequired</key>
	<dict>
		<key>bugfix</key>
		<integer>4</integer>
		<key>major</key>
		<integer>10</integer>
		<key>minor</key>
		<integer>5</integer>
	</dict>
	<key>ActivityWindow</key>
	<dict>
		<key>theme</key>
		<integer>0</integer>
		<key>x</key>
		<integer>-9999999</integer>
		<key>y</key>
		<integer>-9999999</integer>
		<key>width</key>
		<integer>111</integer>
		<key>height</key>
		<integer>33</integer>
		<key>visible</key>
		<true/>
		<key>onTop</key>
		<true/>
		<key>pinDown</key>
		<false/>
		<key>pinDownHint</key>
		<false/>
		<key>spaceConstrain</key>
		<false/>
		<key>showTop</key>
		<true/>
		<key>styleTop</key>
		<integer>0</integer>
		<key>modeTop</key>
		<integer>0</integer>
		<key>samplesTop</key>
		<integer>0</integer>
		<key>showCpu</key>
		<true/>
		<key>styleCpu</key>
		<integer>0</integer>
		<key>modeCpu</key>
		<integer>1</integer>
		<key>samplesCpu</key>
		<integer>0</integer>
		<key>showCpuTemp</key>
		<true/>
		<key>styleCpuTemp</key>
		<integer>0</integer>
		<key>modeCpuTemp</key>
		<integer>1</integer>
		<key>samplesCpuTemp</key>
		<integer>0</integer>
		<key>showRam</key>
		<true/>
		<key>styleRam</key>
		<integer>0</integer>
		<key>modeRam</key>
		<integer>0</integer>
		<key>samplesRam</key>
		<integer>0</integer>
		<key>showGpu</key>
		<true/>
		<key>styleGpu</key>
		<integer>0</integer>
		<key>modeGpu</key>
		<integer>0</integer>
		<key>samplesGpu</key>
		<integer>1</integer>
		<key>showGpuTemp</key>
		<true/>
		<key>styleGpuTemp</key>
		<integer>0</integer>
		<key>modeGpuTemp</key>
		<integer>0</integer>
		<key>samplesGpuTemp</key>
		<integer>1</integer>
		<key>showVideo</key>
		<false/>
		<key>styleVideo</key>
		<integer>0</integer>
		<key>modeVideo</key>
		<integer>1</integer>
		<key>samplesVideo</key>
		<integer>1</integer>
		<key>showVram</key>
		<true/>
		<key>styleVram</key>
		<integer>0</integer>
		<key>modeVram</key>
		<integer>0</integer>
		<key>samplesVram</key>
		<integer>1</integer>
		<key>showFps</key>
		<true/>
		<key>styleFps</key>
		<integer>0</integer>
		<key>modeFps</key>
		<integer>0</integer>
		<key>samplesFps</key>
		<integer>1</integer>
		<key>showDiskIo</key>
		<true/>
		<key>styleDiskIo</key>
		<integer>0</integer>
		<key>modeDiskIo</key>
		<integer>4</integer>
		<key>samplesDiskio</key>
		<integer>1</integer>
		<key>showNetIo</key>
		<true/>
		<key>styleNetIo</key>
		<integer>0</integer>
		<key>modeNetIo</key>
		<integer>4</integer>
		<key>samplesNetIo</key>
		<integer>1</integer>
		<key>rounded</key>
		<true/>
		<key>textCentered</key>
		<true/>
		<key>textSize</key>
		<integer>9</integer>
		<key>stripe</key>
		<false/>
		<key>stripeValue</key>
		<real>0.9</real>
		<key>border</key>
		<true/>
		<key>borderValue</key>
		<integer>2</integer>
		<key>horizontal</key>
		<false/>
	</dict>
	<key>ColorsActivityWindow</key>
	<dict>
		<key>foreground</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
		</dict>
		<key>shadow</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>divider</key>
		<dict>
			<key>alpha</key>
			<real>0.45</real>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
		</dict>
		<key>watermark</key>
		<dict>
			<key>alpha</key>
			<real>0.35</real>
			<key>red</key>
			<integer>0</integer>
			<key>greeen</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>background</key>
		<dict>
			<key>alpha</key>
			<real>0.7</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>border</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<real>0.9</real>
			<key>green</key>
			<real>0.9</real>
			<key>blue</key>
			<real>0.9</real>
		</dict>
		<key>colorIcons</key>
		<true/>
		<key>top1</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>top2</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>top3</key>
		<dict>
			<key>alpha</key>
			<real>0.25</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuSystem</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuUser</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuTempMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuTempMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>ramSystem</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>ramUser</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>gpu</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>gpuTempMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>gpuTempMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>video</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>vram</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>fpsMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>fpsMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskRead</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskWrite</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskBoth</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netRead</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netWrite</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netBoth</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>ActivityMenu</key>
	<dict>
		<key>theme</key>
		<integer>1</integer>
		<key>visible</key>
		<true/>
		<key>normalLabels</key>
		<true/>
		<key>showLabelUnits</key>
		<true/>
		<key>showTop</key>
		<true/>
		<key>styleTop</key>
		<integer>0</integer>
		<key>modeTop</key>
		<integer>0</integer>
		<key>sizeTop</key>
		<integer>60</integer>
		<key>samplesTop</key>
		<integer>0</integer>
		<key>showCpu</key>
		<true/>
		<key>styleCpu</key>
		<integer>0</integer>
		<key>modeCpu</key>
		<integer>1</integer>
		<key>sizeCpu</key>
		<integer>55</integer>
		<key>samplesCpu</key>
		<integer>0</integer>
		<key>showCpuTemp</key>
		<false/>
		<key>styleCpuTemp</key>
		<integer>0</integer>
		<key>modeCpuTemp</key>
		<integer>1</integer>
		<key>sizeCpuTemp</key>
		<integer>55</integer>
		<key>samplesCpuTemp</key>
		<integer>0</integer>
		<key>showRam</key>
		<true/>
		<key>styleRam</key>
		<integer>0</integer>
		<key>modeRam</key>
		<integer>1</integer>
		<key>sizeRam</key>
		<integer>55</integer>
		<key>samplesRam</key>
		<integer>0</integer>
		<key>showGpu</key>
		<false/>
		<key>styleGpu</key>
		<integer>0</integer>
		<key>modeGpu</key>
		<integer>0</integer>
		<key>sizeGpu</key>
		<integer>55</integer>
		<key>samplesGpu</key>
		<integer>1</integer>
		<key>showGpuTemp</key>
		<false/>
		<key>styleGpuTemp</key>
		<integer>0</integer>
		<key>modeGpuTemp</key>
		<integer>0</integer>
		<key>sizeGpuTemp</key>
		<integer>55</integer>
		<key>samplesGpuTemp</key>
		<integer>1</integer>
		<key>showVideo</key>
		<false/>
		<key>styleVideo</key>
		<integer>0</integer>
		<key>modeVideo</key>
		<integer>0</integer>
		<key>sizeVideo</key>
		<integer>55</integer>
		<key>samplesVideo</key>
		<integer>1</integer>
		<key>showVram</key>
		<false/>
		<key>styleVram</key>
		<integer>0</integer>
		<key>modeVram</key>
		<integer>0</integer>
		<key>sizeVram</key>
		<integer>55</integer>
		<key>samplesVram</key>
		<integer>1</integer>
		<key>showFps</key>
		<false/>
		<key>styleFps</key>
		<integer>0</integer>
		<key>modeFps</key>
		<integer>0</integer>
		<key>sizeFps</key>
		<integer>50</integer>
		<key>samplesFps</key>
		<integer>1</integer>
		<key>showDiskIo</key>
		<true/>
		<key>styleDiskIo</key>
		<integer>0</integer>
		<key>modeDiskIo</key>
		<integer>2</integer>
		<key>sizeDiskIo</key>
		<integer>85</integer>
		<key>samplesDiskIo</key>
		<integer>1</integer>
		<key>showNetIo</key>
		<true/>
		<key>styleNetIo</key>
		<integer>0</integer>
		<key>modeNetIo</key>
		<integer>2</integer>
		<key>sizeNetIo</key>
		<integer>85</integer>
		<key>samplesNetIo</key>
		<integer>1</integer>
		<key>textCentered</key>
		<true/>
		<key>textHidden</key>
		<false/>
		<key>textSize</key>
		<integer>8</integer>
		<key>stripe</key>
		<false/>
		<key>stripeValue</key>
		<real>0.9</real>
	</dict>
	<key>ColorsActivityMenu</key>
	<dict>
		<key>foreground</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>shadow</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<real>0.5</real>
			<key>green</key>
			<real>0.5</real>
			<key>blue</key>
			<real>0.5</real>
		</dict>
		<key>divider</key>
		<dict>
			<key>alpha</key>
			<real>0.25</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>watermark</key>
		<dict>
			<key>alpha</key>
			<real>0.35</real>
			<key>red</key>
			<integer>0</integer>
			<key>greeen</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>background</key>
		<dict>
			<key>alpha</key>
			<real>0</real>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
		</dict>
		<key>border</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<real>0.9</real>
			<key>green</key>
			<real>0.9</real>
			<key>blue</key>
			<real>0.9</real>
		</dict>
		<key>colorIcons</key>
		<true/>
		<key>top1</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>top2</key>
		<dict>
			<key>alpha</key>
			<real>0.65</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>top3</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuSystem</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuUser</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuTempMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuTempMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>ramSystem</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>ramUser</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>gpu</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>gpuTempMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>gpuTempMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>video</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>vram</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>fpsMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>fpsMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskRead</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskWrite</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskBoth</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netRead</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netWrite</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netBoth</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>ActivityDock</key>
	<dict>
		<key>theme</key>
		<integer>0</integer>
		<key>visible</key>
		<false/>
		<key>showCpu</key>
		<false/>
		<key>showCpuTemp</key>
		<false/>
		<key>showRam</key>
		<false/>
		<key>showGpu</key>
		<false/>
		<key>showGpuTemp</key>
		<false/>
		<key>showVideo</key>
		<false/>
		<key>showFps</key>
		<false/>
		<key>showDiskIo</key>
		<false/>
		<key>showNetIo</key>
		<false/>
		<key>margin</key>
		<integer>10</integer>
		<key>samples</key>
		<integer>4</integer>
	</dict>
	<key>ColorsActivityDock</key>
	<dict>
		<key>foreground</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
		</dict>
		<key>shadow</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>divider</key>
		<dict>
			<key>alpha</key>
			<real>0.45</real>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
		</dict>
		<key>watermark</key>
		<dict>
			<key>alpha</key>
			<real>0.35</real>
			<key>red</key>
			<integer>0</integer>
			<key>greeen</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>background</key>
		<dict>
			<key>alpha</key>
			<real>0.7</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>border</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<real>0.9</real>
			<key>green</key>
			<real>0.9</real>
			<key>blue</key>
			<real>0.9</real>
		</dict>
		<key>colorIcons</key>
		<true/>
		<key>top1</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>top2</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>top3</key>
		<dict>
			<key>alpha</key>
			<real>0.25</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuSystem</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuUser</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuTempMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuTempMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>ramSystem</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>ramUser</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>gpu</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>gpuTempMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>gpuTempMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>video</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>vram</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>fpsMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>fpsMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskRead</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskWrite</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskBoth</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netRead</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netWrite</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netBoth</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>ColorsDeveloper</key>
	<dict>
		<key>foreground</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
		</dict>
		<key>shadow</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>divider</key>
		<dict>
			<key>alpha</key>
			<real>0.45</real>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
		</dict>
		<key>watermark</key>
		<dict>
			<key>alpha</key>
			<real>0.35</real>
			<key>red</key>
			<integer>0</integer>
			<key>greeen</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>background</key>
		<dict>
			<key>alpha</key>
			<real>0.7</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>border</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<real>0.9</real>
			<key>green</key>
			<real>0.9</real>
			<key>blue</key>
			<real>0.9</real>
		</dict>
		<key>colorIcons</key>
		<true/>
		<key>top1</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>top2</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>top3</key>
		<dict>
			<key>alpha</key>
			<real>0.25</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuSystem</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuUser</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuTempMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuTempMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>ramSystem</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>ramUser</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>gpu</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>gpuTempMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>gpuTempMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>video</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>vram</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>fpsMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>fpsMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskRead</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskWrite</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskBoth</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netRead</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netWrite</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netBoth</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>ColorsPro</key>
	<dict>
		<key>foreground</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>shadow</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<real>0.5</real>
			<key>green</key>
			<real>0.5</real>
			<key>blue</key>
			<real>0.5</real>
		</dict>
		<key>divider</key>
		<dict>
			<key>alpha</key>
			<real>0.25</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>watermark</key>
		<dict>
			<key>alpha</key>
			<real>0.35</real>
			<key>red</key>
			<integer>0</integer>
			<key>greeen</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>background</key>
		<dict>
			<key>alpha</key>
			<real>0</real>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
		</dict>
		<key>border</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<real>0.9</real>
			<key>green</key>
			<real>0.9</real>
			<key>blue</key>
			<real>0.9</real>
		</dict>
		<key>colorIcons</key>
		<true/>
		<key>top1</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>top2</key>
		<dict>
			<key>alpha</key>
			<real>0.65</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>top3</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuSystem</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuUser</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuTempMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuTempMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>ramSystem</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>ramUser</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>gpu</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>gpuTempMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>gpuTempMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>video</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>vram</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>fpsMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>fpsMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskRead</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskWrite</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskBoth</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netRead</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netWrite</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netBoth</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>ColorsCompact</key>
	<dict>
		<key>foreground</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>shadow</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<real>0.5</real>
			<key>green</key>
			<real>0.5</real>
			<key>blue</key>
			<real>0.5</real>
		</dict>
		<key>divider</key>
		<dict>
			<key>alpha</key>
			<real>0.25</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>watermark</key>
		<dict>
			<key>alpha</key>
			<real>0.35</real>
			<key>red</key>
			<integer>0</integer>
			<key>greeen</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>background</key>
		<dict>
			<key>alpha</key>
			<real>0</real>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
		</dict>
		<key>border</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<real>0.9</real>
			<key>green</key>
			<real>0.9</real>
			<key>blue</key>
			<real>0.9</real>
		</dict>
		<key>colorIcons</key>
		<true/>
		<key>top1</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>top2</key>
		<dict>
			<key>alpha</key>
			<real>0.65</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>top3</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuSystem</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuUser</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuTempMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuTempMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>ramSystem</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>ramUser</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>gpu</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>gpuTempMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>gpuTempMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>video</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>vram</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>fpsMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>fpsMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskRead</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskWrite</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskBoth</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netRead</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netWrite</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netBoth</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>ColorsText</key>
	<dict>
		<key>foreground</key>
		<dict>
			<key>alpha</key>
			<real>0.95</real>
			<key>red</key>
			<real>0.1</real>
			<key>green</key>
			<real>0.1</real>
			<key>blue</key>
			<real>0.1</real>
		</dict>
		<key>shadow</key>
		<dict>
			<key>alpha</key>
			<integer>0</integer>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>divider</key>
		<dict>
			<key>alpha</key>
			<real>0.25</real>
			<key>red</key>
			<real>0.1</real>
			<key>green</key>
			<real>0.1</real>
			<key>blue</key>
			<real>0.1</real>
		</dict>
		<key>watermark</key>
		<dict>
			<key>alpha</key>
			<real>0.35</real>
			<key>red</key>
			<integer>0</integer>
			<key>greeen</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>background</key>
		<dict>
			<key>alpha</key>
			<real>0</real>
			<key>red</key>
			<integer>1</integer>
			<key>green</key>
			<integer>1</integer>
			<key>blue</key>
			<integer>1</integer>
		</dict>
		<key>border</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<real>0.9</real>
			<key>green</key>
			<real>0.9</real>
			<key>blue</key>
			<real>0.9</real>
		</dict>
		<key>colorIcons</key>
		<true/>
		<key>top1</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>top2</key>
		<dict>
			<key>alpha</key>
			<real>0.65</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>top3</key>
		<dict>
			<key>alpha</key>
			<real>0.5</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuSystem</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuUser</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuTempMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>cpuTempMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>ramSystem</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>ramUser</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>gpu</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>gpuTempMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>gpuTempMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>video</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>vram</key>
		<dict>
			<key>alpha</key>
			<real>0.75</real>
			<key>red</key>
			<integer>0</integer>
			<key>green</key>
			<real>0.63</real>
			<key>blue</key>
			<real>0.8</real>
		</dict>
		<key>fpsMin</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>fpsMax</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskRead</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskWrite</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>diskBoth</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netRead</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.23</real>
			<key>green</key>
			<real>0.8</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netWrite</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.7</real>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>0</integer>
		</dict>
		<key>netBoth</key>
		<dict>
			<key>alpha</key>
			<integer>1</integer>
			<key>red</key>
			<real>0.93</real>
			<key>green</key>
			<real>0.93</real>
			<key>blue</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>Triggers</key>
	<dict>
		<key>active</key>
		<false/>
	</dict>
	<key>LogScale</key>
	<dict>
		<key>cpu</key>
		<false/>
		<key>ram</key>
		<false/>
		<key>gpu</key>
		<false/>
		<key>vram</key>
		<false/>
		<key>fps</key>
		<false/>
		<key>diskio</key>
		<true/>
		<key>netio</key>
		<true/>
	</dict>
	<key>Statistics</key>
	<dict>
		<key>recalibrate</key>
		<false/>
		<key>recalibrateValue</key>
		<real>0.99</real>
		<key>maxDiskReadIO</key>
		<integer>0</integer>
		<key>maxDiskWriteIO</key>
		<integer>0</integer>
		<key>maxNetReadIO</key>
		<integer>0</integer>
		<key>maxNetWriteIO</key>
		<integer>0</integer>
	</dict>
	<key>HelperApps</key>
	<dict>
		<key>ActivityMonitor</key>
		<string>/Applications/Utilities/Activity Monitor.app/Contents/MacOS/Activity Monitor</string>
		<key>BigTop</key>
		<string>/Developer/Applications/Performance Tools/BigTop.app</string>
		<key>GLProfiler</key>
		<string>/Developer/Applications/Graphics Tools/OpenGL Profiler.app</string>
		<key>GLMonitor</key>
		<string>/Developer/Applications/Graphics Tools/OpenGL Driver Monitor.app</string>
		<key>Instruments</key>
		<string>/Developer/Applications/Instruments.app</string>
		<key>Shark</key>
		<string>/Developer/Applications/Performance Tools/Shark.app</string>
	</dict>
	<key>AppExclusionList</key>
	<array>
		<string>atMonitor</string>
		<string>SystemUIServer</string>
		<string>PubSubAgent</string>
		<string>CCacheServer</string>
		<string>check_afp</string>
		<string>loginwindow</string>
		<string>SecurityAgent</string>
		<string>iChatAgent</string>
	</array>
	<key>Priorities</key>
	<array/>
	<key>~MAGIX</key>
	<string>yYjGr3l39l0XMDWHgvtwKTfeMC0CFQCAyYjGr3l39l0XMDWHgvtwKTfengIUSvgbdEVvrwKTfeMCwIdm0k+E1SAAZaTAso=</string>
</dict>
</plist>
